<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$robot_name}</title>

    <link rel="stylesheet" href="source/plugin/htt_robot/template/wap.css">
    <script type="text/javascript" src="source/plugin/htt_robot/template/jquery.js"></script>

</head>
<body>

<input type="hidden" id="formhash" value="{FORMHASH}">

<input type="hidden" id="robot_name" value="{$robot_name}">
<input type="hidden" id="site_url" value="{$site_url}">

<div class="container">

    <div class="chat-list-area">

        <div class="MN_answer" aid="62079" cluid="ce78865b-dd42-4cf1-bf91-450248ac453b">                         
            <div class="MN_kftime">{$currenttime} </div>
            <div class="MN_kfName">{$robot_name}</div>
            <div class="MN_kfCtn"><img class="MN_kfImg"
                                       src="source/plugin/htt_robot/template/assets/robot.png"><i
                    class="MN_kfTriangle1 MN_triangle"></i><i class="MN_kfTriangle2 MN_triangle"></i>{$welcome_msg}

            </div>
                            
        </div>
    </div>
    <div class="editCtn">
        <div class="editShow">

            <!--输入提示框-->
            <div id="remind">
                <p>你是不是在找:</p>
                <ol>
                </ol>
            </div>

            <div class="cosInput cosSome">
                <div class="textareaCtn">

                    <textarea class="textarea" id="textarea" placeholder="请输入您要咨询的问题"></textarea>
                </div>
            </div>
            <div class="cosBtn cosSome">
                <div class="sendBtn" id="sendBtn">发送</div>
            </div>
        </div>

    </div>

</div>


</body>

<script src="source/plugin/htt_robot/template/wap.js"></script>
</html>